<div class="container">
  <header><img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Mountain_Range_Banner.jpg"
    alt=""
    title=""
    width="960"
    height="150"
    class="img-responsive main-image">
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Park Hopper!</h1>
    <br>
    <div class="sidebar">
      <h3>Welcome back <%=@user.name.split(" ").first%>!</h3>
      <div class="button-centering-container"> <a href="users/<%=@user.id%>" class="btn-more">View profile</a> </div>
      <div class="button-centering-container"> <a href="logout" class="btn-more">Logout</a> </div>
      <br>
      <h4>your recent trips:</h4>
      <br>
      <%@user.trips.reverse.each do |trip|%>
      <p><strong><%=trip.park.name%></strong></p>
      <p>Visited: <%=trip.visit_date%></p>
      <p>Review: <%=trip.review%></p>
      <div class="button-centering-container"> <a href='/trips/<%=trip.id%>' class="btn-more">View this trip</a></div><br><br>
      <%end%>
    </div>
    <br>
    <section class="block">
      <section class="posts-holder">
        <%@parks.each do |park|%>
          <article class="post" style="height: 9850px;">
            <br>
            <h2><%=park.name%></h2>
            <p><%=park.description%></p>
            <div class="button-centering-container"> <a href="parks/<%=park.id%>" class="btn-more">View park page/add a trip!</a> </div>
            <br>
        <%end%>
      </section>
    </section>
  </div>
</div>
