<style>


</style>

<div class="container">
  <header>
    <img src="images/ParkHopper.jpg"
      alt=""
      title=""
      width="1430"
      height="225"
      class="img-responsive main-image">
  </header>
  <center><h1>Welcome back <%=@user.name.split(" ").first%>!</h1></center>
    <ul class="horizontal gray">
      <a class="btn" href="/users/<%=@user.id%>" style="float:left">View profile</a>
      <a class="btn" href="/logout" style="float:right">Logout</a>
    </ul>
    <br>
    <br>
    <br>

    <div class="grid-container">

        <%@chunks.each do |park|%>
        <div class="item<%=@i%>">
          <img src="<%=park[0].image%>"
          width="307"
          height="217">
          <h2><%=park[0].name%></h2>
          <p><%=park[0].description%></p>
          <a class="btn" href="parks/<%=park[0].id%>" class="btn">View park page/add a trip!</a> </div>
          <%@i += 1%>
        <div class="item<%=@i%>">
          <img src="<%=park[1].image%>"
          width="307"
          height="217">
          <h2><%=park[1].name%></h2>
          <p><%=park[1].description%></p>
          <a class="btn" href="parks/<%=park[1].id%>">View park page/add a trip!</a> </div>
          <%@i += 1%>
        <div class="item<%=@i%>">
        <%if park[2]%>
          <img src="<%=park[2].image%>"
          width="307"
          height="217">
          <h2><%=park[2].name%></h2>
          <p><%=park[2].description%></p>
          <a class="btn" href="parks/<%=park[2].id%>">View park page/add a trip!</a> </div>
          <%@i += 1%>
        <%end%>
        <div class="item<%=@i%>">
        <%if park[3]%>
          <img src="<%=park[3].image%>"
          width="307"
          height="217">
          <h2><%=park[3].name%></h2>
          <p><%=park[3].description%></p>
          <a class="btn" href="parks/<%=park[3].id%>">View park page/add a trip!</a> </div>
        <%@i += 1%>
        <%end%>
      <%end%>
      </div>
  </div>
</div>
