<head>

  <header>
    <img src="<%=@park.image%>"
          width="1430"
          height="765"
          class="img-responsive main-image">
  </header>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <style>
    .parallax {
      background-image: url("<%=@park.image%>");
      height: 400px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 5px solid #424242;
    }
  </style>

</head>


<body>
  <div class="container">

  <div class="col-md-8 col-md-offset-2">
    <a class="btn" href="/parks" style="float:left">Home</a>
    <a class="btn" href="/users/<%=@user.id%>" style="float:right">Profile</a>
    <br>

    <h1><%=@park.name%></h1>
    <br>
    <br>
    <br>
    <div class="content">

      <h2>Description</h2>
      <p><%=@park.description%></p><br>
      <div class="parallax"></div>

      <h2>Information</h2>
      <p><%=@park.information%></p><br>
      <div class="parallax"></div>
      <br>

      <%if @park.weather != "There is no information available on the weather for this park."%>
        <h2>Weather</h2>
        <p><%=@park.weather%></p><br>
        <div class="parallax"></div>
        <br>
      <%end%>

      <%if @park.tours_and_camping != "There is no information available on the tours and camping in this park."%>
        <h2>Tours and Camping</h2>
        <p><%=@park.tours_and_camping%></p><br>
        <div class="parallax"></div>
        <br>
      <%end%>

      <%if @park.wildlife != "There is no information available on wildlife in this park."%>
        <h2>Wildlife</h2>
        <p><%=@park.wildlife%></p><br>
        <div class="parallax"></div>
        <br>
      <%end%>

      <%if !@park.nearby_parks.empty?%>
        <h3>Some nearby parks and trails to check out:</h3><br>
        <%@park.nearby_parks.split(", ").each do |park|%>
          <p><%=park.gsub("[","").gsub("]","").delete_prefix('"').delete_suffix('"')%></p><br>
        <%end%>
      <%end%>
    </div>

        <iframe
            width="510"
            height="450"
            frameborder="0"
            style="border:0"
            id="preview"
            allowfullscreen=""
            src="https://www.google.com/maps/embed/v1/place?q=<%=@park.name%>&zoom=11&amp;key=<%=ENV['GOOGLE_API']%>">
        </iframe>


    <div class="sidebar">
      <h2>Add A Trip</h2>
      <form action="/trips/new" method="POST">
        <input type="hidden" id="park_id" name="park_id" value="<%=@park.id%>">
        <input type="hidden" id="user_id" name="user_id" value="<%=session[:user_id]%>">
        <p>Trip Date:<br>
        <input type="date" id="visit_date" name="visit_date"
                value="2020-04-18"
                min="1920-01-01" max="2020-12-31" required></p>
        <p>Write a review:<br>
        <textarea name="review" style="margin: 0px; height: 425px; width: 450px;" required></textarea></p>
        <button><a class="btn" type="submit" value="submit">Submit</a><button>
      </form>
    </div>

    <div class="sidebar">
      <h2>Recent visitor reviews:</h2>
      <%@park.trips.reverse.each do |trip|%>
      <h3><%=trip.user.name%></h3>
      <p>Visited: <%=trip.visit_date%></p>
      <p>Review: <%=trip.review%></p>
      <a class="btn" href='/trips/<%=trip.id%>' class="btn-more">View this trip</a><br><br>
      <%end%>
    </div>

  </div>
</div>
</body>
