<div class="container">
  <header><img src="https://www.nationalparks.org/sites/default/files/styles/large_list_image_2x/public/Acadia_iStock_000002062946.jpg?itok=t9JPKAN9&amp;timestamp=1471548671"
                alt=""
                title=""
                width="960"
                height="500"
                class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1><%=@park.name%></h1>

    <div class="content">
      <h3>Location:</h3>
      <p><%=@park.location%></p>
      <h3>Description:</h3>
      <p><%=@park.description%></p><br>
      <h3>Information:</h3>
      <p><%=@park.information%></p><br>
      <%if @park.weather != "There is no information available on the weather for this park."%>
        <h3>Weather:</h3>
        <p><%=@park.weather%></p><br>
      <%end%>
      <%if @park.tours_and_camping != "There is no information available on the tours and camping in this park."%>
        <h3>Tours and Camping:</h3>
        <p><%=@park.tours_and_camping%></p><br>
      <%end%>
      <%if @park.wildlife != "There is no information available on wildlife in this park."%>
        <h3>Wildlife:</h3>
        <p><%=@park.wildlife%></p><br>
      <%end%>
      <%if !@park.nearby_parks.empty?%>
        <h4>Some nearby parks and trails to check out:</h4><br>
        <%@park.nearby_parks.split(", ").each do |park|%>
          <p><%=park.gsub("[","").gsub("]","").delete_prefix('"').delete_suffix('"')%></p><br>
        <%end%>
      <%end%>
    </div>

    <div class="sidebar">
      <h3>Add a trip!</h3>
      <form action="/trips/new" method="POST">
        <input type="hidden" id="park_id" name="park_id" value="<%=@park.id%>">
        <input type="hidden" id="user_id" name="user_id" value="<%=session[:user_id]%>">
        <p>Trip Date:<br>
        <input type="date" id="visit_date" name="visit_date"
                value="2020-04-18"
                min="1920-01-01" max="2020-12-31"></p>
        <p>Write a review:<br>
        <textarea name="review" style="margin: 0px; height: 253px; width: 271px;"></textarea></p>
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>


  </div>
</div>
