<div class="container">
  <header><img src="<%=@park.image%>"
                alt=""
                title=""
                width="960"
                height="500"
                class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1><%=@user.name%></h1>
    <div class="button-centering-container"> <a href="/parks" class="btn-more">Home</a></div>
    <%if session[:user_id] == @user.id%>
      <div class="button-centering-container"> <a href="/users/<%=@user.id%>/edit" class="btn-more">Edit profile</a></div>
      <div class="button-centering-container"> <a href="logout" class="btn-more">Logout</a> </div>
    <%end%>
    <br>
    <div class="content">
    <h3>Recent trips:</h3>
    <br>
    <%@user.trips.reverse.each do |trip|%>
    <p><strong><%=trip.park.name%></strong></p>
    <img src="<%=trip.park.image%>"
        width="307"
        height="217">
    <p>Visited: <%=trip.visit_date%></p>
    <p>Review: <%=trip.review%></p>
    <div class="button-centering-container"> <a href='/trips/<%=trip.id%>' class="btn-more">View this trip</a></div><br><br>
    <%end%>
  </div>
</div>
</div>
