<div class="container">
  <header><img src="<%=@park.image%>"
                alt=""
                title=""
                width="1430"
                height="750"
                class="img-responsive main-image">
  </header>

  <ul class="horizontal gray">
    <%if session[:user_id] == @user.id%>
      <a class="btn" href="/logout" style="float:right">Logout</a>
      <a class="btn" href="/users/<%=@user.id%>/edit" style="float:right">Edit profile</a>
    <%end%>
    <a class="btn" href="/parks" style="float:right">Home</a>
  </ul>

  <br>

    <div align="left"><h1><%=@user.name%></h1></div>

    <br>

  <div align="center"><h2><%=@user.name.split(" ").first%>'s Recent Trips</h2></div>
  <div class="grid-container">

    <%@rows.each do |trip|%>

      <%if trip[0]%>
        <div class="item<%=@i%>">
          <img src="<%=trip[0].park.image%>"
                width="307"
                height="217">
          <h2><%=trip[0].park.name%></h2>
          <p><%=trip[0].park.description%></p>
          <a class="btn" href="/trips/<%=trip[0].id%>">View this trip!</a> </div>
        <%@i += 1%>
      <%end%>

      <%if trip[1]%>
        <div class="item<%=@i%>">
          <img src="<%=trip[1].park.image%>"
                width="307"
                height="217">
          <h2><%=trip[1].park.name%></h2>
          <p><%=trip[1].park.description%></p>
          <a class="btn" href="/trips/<%=trip[1].id%>">View this trip!</a> </div>
        <%@i += 1%>
      <%end%>

      <%if trip[2]%>
        <div class="item<%=@i%>">
          <img src="<%=trip[2].park.image%>"
                width="307"
                height="217">
          <h2><%=trip[2].park.name%></h2>
          <p><%=trip[2].park.description%></p>
          <a class="btn" href="/trips/<%=trip[2].id%>">View this trip!</a> </div>
        <%@i += 1%>
      <%end%>

      <%if trip[3]%>
        <div class="item<%=@i%>">
          <img src="<%=trip[3].park.image%>"
                width="307"
                height="217">
          <h2><%=trip[3].park.name%></h2>
          <p><%=trip[3].park.description%></p>
          <a class="btn" href="/trips/<%=trip[3].id%>">View this trip!</a> </div>
        <%@i += 1%>
      <%end%>

    <%end%>
  </div>
</div>
